$sans-serif: 'Work Sans', 'Segoe UI', 'Noto Sans', -apple-system, sans-serif;
$cursive: 'Patrick Hand', sans-serif;

@mixin text-outline($width: 0, $col: black) {
  $wd: 0.84 * $width;
  text-shadow: $width 0 0 $col, -$width 0 0 $col, 0 $width 0 $col, 0 (-$width) 0 $col,
               $wd $wd 0 $col, -$wd $wd 0 $col, $wd (-$wd) 0 $col, -$wd (-$wd) 0 $col;
}
