// The global stylesheet
// You can dynamically import stylesheets in different typescript modules to load them when needed.

// This module resets vendor-specific defaults and makes CSS behavior more consistent:
@import "~normalize.css/normalize.css"

$unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

$sans-serif: 'Work Sans', 'Segoe UI', 'Noto Sans', -apple-system, sans-serif
$cursive: 'Patrick Hand', sans-serif
$intro_padding: 4vw

@font-face
  font-family: 'Patrick Hand'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url('./assets/PatrickHand.ttf') format('woff')
  unicode-range: $unicode-range

@font-face
  font-family: 'Work Sans'
  font-style: normal
  font-weight: 300 700
  font-display: swap
  src: url('./assets/WorkSans.ttf') format('woff supports variations'), url('./assets/WorkSans.ttf') format('woff-variations')
  unicode-range: $unicode-range

@font-face
  font-family: 'Work Sans'
  font-style: italic
  font-weight: 300 700
  font-display: swap
  src: url('./assets/WorkSans-Italic.ttf') format('woff supports variations'), url('./assets/WorkSans-Italic.ttf') format('woff-variations')
  unicode-range: $unicode-range

@mixin text-outline($width: 0, $col: black)
  $wid: 0.84 * $width
  text-shadow: $width 0 0 $col, -$width 0 0 $col, 0 $width 0 $col, 0 (-$width) 0 $col, $wid $wid 0 $col, -$wid $wid 0 $col, $wid (-$wid) 0 $col, -$wid (-$wid) 0 $col

// TODO: Your styles go here! You can remove most of these rules:
html, body
  height: 100%
  margin: 0
  padding: 0

body
  font-family: $sans-serif
  font-size: 18px
  font-weight: 420
  hyphens: auto

b
  font-weight: 650

small
  font-size: 82%
  letter-spacing: 0.02em
  font-weight: 470

p
  line-height: 1.35em
  font-size: inherit

ul
  line-height: 1.25em
  margin-left: 0
  padding-left: 1em
  list-style-type: square

  li
    margin: 0.35em 0

  &.highlight
    padding: 3vw $intro_padding 3vw ($intro_padding + 4vw)
    margin: 1em (-$intro_padding)
    border: 1px solid #d1d115
    border-width: 1px 0
    background: #ffff8f

    @supports (background-blend-mode: lighten)
      background: url('./assets/forest_soil.jpg'), #ffffa5e7
      background-size: 256px
      background-attachment: fixed
      background-blend-mode: lighten

      body.supports-webp &
        background-image: url('./assets/forest_soil.webp')

a
  color: #0543ca

input
  margin: 0
  padding: 0.4em 0.6em
  font-family: inherit
  border: 1px solid #2e1509
  border-radius: 0.25em

.centered
  text-align: center
.align-right
  text-align: right
.margin-top
  margin-top: 1em
.no-margin-top
  margin-top: 0
.uppercase
  text-transform: uppercase

.border-box
  box-sizing: border-box
.w100
  width: 100%
.cursive
  font-family: $cursive
.big
  font-size: 1.2em

button.big
  font-family: $cursive
  font-size: 1.3em
  margin: 0 0 0 0.4em
  padding: 0.4em 0.8em
  border-radius: 0.3em
  border: 1px solid #2e1509
  background-color: white

  &:first-child
    margin-left: 0

  &.cancel
    border-color: #a8a8a8
  &.confirm
    border-color: #02aa02
    background-color: #c7ffc7

.start-widget
  width: 100%
  height: 100%
  font-family: $cursive
  color: white
  font-size: calc(3.6vw + 12px)
  background: url('./assets/texture.png'), linear-gradient(green, green 0.2vh, #ca7a17 2vh, #281500)
  @include text-outline($width: 0.02em, $col: #281500)

  body.supports-webp &
    background: url('./assets/texture.webp'), linear-gradient(green, green 0.2vh, #ca7a17 2vh, #281500)

  h1
    margin: 0
    padding-top: calc(50vh - 1.7em)
    font-size: calc(10vw + 30px)
    font-weight: 400
    @include text-outline($width: 0.015em, $col: #281500)

  .start-canvas
    position: fixed
    width: 100%
    height: 100%
    opacity: 0.4

  .centered
    position: relative
    user-select: none

  button.start-btn
    opacity: 0
    background-color: #ffffffcc
    color: black
    border: 0.04em solid #281500
    font-family: inherit
    letter-spacing: 0.03em
    border-radius: 0.2em
    font-size: 1.5em
    padding: 0.3em 0.6em
    margin: 1em 0 0 0
    transition: opacity 0.4s

  button.reset-btn
    font-size: 1em
    padding: 0.3em 0.6em
    background: transparent
    color: #95ddff
    font-weight: normal
    border: none
    transition: opacity 0.4s
    @include text-outline($width: 0.02em, $col: #281500)

.intro-widget
  box-sizing: border-box
  width: 100%
  height: 100%
  padding: 6vw
  font-size: 20px
  background: url('./assets/forest_soil.jpg')
  background-size: 256px
  overflow: auto

  body.supports-webp &
    background-image: url('./assets/forest_soil.webp')

  &::before
    content: ''
    position: fixed
    left: 2vw
    bottom: 0
    width: 40vw
    height: calc(40vw * 363 / 228)
    background: url('./assets/ant.svg')
    background-size: contain
    filter: drop-shadow(2px 2px 10px #44444477)

  .intro-widget-inner
    box-sizing: border-box
    background: #ffffffdd
    border: 2px solid #2e1509
    border-radius: 3vw
    padding: $intro_padding
    margin-bottom: calc(40vw * 363 / 228 - 3.6em)

  h1
    font-family: $cursive
    font-weight: 400
    margin-top: 0

.confirm-widget
  position: fixed
  box-sizing: border-box
  background-color: #00000033
  left: 0
  top: 0
  width: 100%
  height: 100%
  padding: 8vw
  font-size: 20px

  .confirm-widget-inner
    box-sizing: border-box
    background: white
    border: 2px solid #2e1509
    border-radius: 3vw
    padding: 4vw
    max-height: 80vh
    overflow: auto

    h1
      font-family: $cursive
      font-size: 1.7em
      font-weight: normal
      margin-top: 0

    button
      font-size: 1.1em
      padding-left: 0.7em
      padding-right: 0.7em
